<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid">
        <div class="item item-1">HEADER</div>
        <div class="item item-2">NAV</div>
        <div class="item item-3">ARTICLE</div>
        <div class="item item-4">ASIDE</div>
        <div class="item item-5">ASIDE</div>
        <div class="item item-6">ASIDE</div>
        <div class="item item-7">FOOTER</div>
    </div>
</body>
</html>